@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

* {
    font-family: 'Open Sans Condensed', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.christmas-video {
    position: absolute;
    left: 20%;
    top: 7%;
    z-index: 999;
    display: flex;
}

.christmas-video-button {
    width: 3em;
    height: 3em;
    margin-left: 2em;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    font-weight: bolder;
    background-color: #FFAD00;
    color: white;
}

.navbar-logo {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.nav-item-li, .nav-item-link, .navbar-btn{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.navbar-bg-img { 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, #00b09b, #96c93d);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-items {
    list-style: none;
}

.nav-items .nav-item-li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-items .nav-item-li .nav-item-link {
    transition: all 0.3s ease 0s;
}

.nav-items .nav-item-li .nav-item-link:hover {
    transition: all 0.3s ease 0s;
    color: cadetblue;
}

.navbar-btn {
    cursor: pointer;
    background-color: #FFAD00;
    padding: 5px 25px;
    border-radius: 30px;
    border: none;
    transition: all 0.3s ease 0s;
}

.navbar-btn:hover {
    background-color: beige;
    color: black;
}


.home-container {
    margin-top: 2.5%;
    padding: 200px;
    justify-content: center;
    align-items: center;
}

.home-text {
    margin-right: 50px;
    color: white;
}

.home-text h1 {
    font-size: 4rem;
}

.home-text h4 {
    letter-spacing: 2px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.5);
}

.home-cta {
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.home-start {
    margin-right: 20px;
    border-radius: 30px;
    border: none;
}

.home-video {
    background-color: transparent;
    transition: all 0.3s ease 0s;
    border: 1px solid;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5),
    0 0 0.125em#FFAD00;
    box-shadow: 0 0 1em 0 #FFAD00;
    font-weight: bold;
}


.home-video:hover {
    background-color: #FFAD00;
    color: white;
}

.home-start, .home-video {
    font-size: 1.5rem;
    color: #FFAD00;
    padding: 20px 70px;
    cursor: pointer;
}

.start-link {
    padding: 0px 10px;
    color: #FFAD00;
    text-decoration: none;
}

.cards-container {
    height: 750vh;
    background-image: linear-gradient(to right, #00b09b, #96c93d);
}

.card-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25%;
    color: white;
}

.card {
    background-color: white;
    border-radius: 4px;
    height: 85vh;
    width: 30vw;
    box-shadow: 0 3px 10px black;
}

.birthday-image {
    height: 40vh;
    width: 30vw;
}

.card-front-text {
    margin-top: 5em;
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px gray;
    transition: 0s 180s;
    animation: pulsate 0.11s ease-in-out infinite alternate;
}

@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px green,
        0 0 11px green,
        0 0 19px red,
        0 0 40px red,
        0 0 80px red,
        0 0 90px red,
        0 0 100px red,
        0 0 150px red;
    }
   0% {
      /* A slightly smaller blur radius */
      text-shadow:
        0 0 4px green,
        0 0 10px green,
        0 0 18px red,
        0 0 38px red,
        0 0 73px red,
        0 0 80px red,
        0 0 94px red,
        0 0 140px red;
    }
  }

.card-back-text {
    color: black;
    text-align: center;
    position: absolute;
    left: 50%;
    width: 22em;
    font-style: italic;
    font-weight: 700;
    margin-top: 5em;
}

.single-card-container-front {
    position: absolute;
    height: 85vh;
    width: 30vw;
    background-color: white;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 3s;
    box-shadow: 0 3px 10px black;
}

.wishlist-container {
    color: white;
    min-height: 88vh;
    background-image: linear-gradient(to right, #00b09b, #96c93d);
} 

.wishlist-top-section {
    display: flex;
    justify-content: space-between;
    padding: 5em;
}

.wishlist-people {
    padding: 2em;
}

.wishlist-person-clicked {
    color: yellow;
}

.wishlist-person {
    border: none;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #000;
    padding: 7px 30px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    width: 7em;
}

.wishlist-person span {
    position: relative; 
    z-index: 1;
}

.wishlist-person:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #FFAD00;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.wishlist-person:hover::after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}



.wishlist-add {
    background: transparent;
    border: none;
    cursor: pointer;
}

.form-container {
    position: fixed;
    width: 100%;
    z-index: 999;
    bottom: 15em;
    text-transform: uppercase;
    font-weight: bold;
}


.form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-inputs::before {
    content: '';
    background-color: white;
    width: 20em;
    height: 30em;
    position: absolute;
    z-index: -1;
    border-radius: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 10em;
}

.inner-form-item {
    border-radius: 10px;
    padding: 5px;
    border-color: black;
    border-style: solid;
}

.form-title {
    margin: 1em;
}

.form-button, .form-close-button {
    margin: 2em 1em;
    padding: 0.5em;
    width: 4em;
    border-radius: 1.2em;
    border: none;
    box-shadow: 0 3px 6px black, 0 3px 6px black;
    cursor: pointer;
    background-color: #FFAD00;
    color: white;
    font-weight: bold;
}

.wishlist-tile-container {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 2.5em;
}

.wishlist-tile-headers {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin: 2em 0;
}

.wishlist-tile-headers::after {
    content: '';
    border: 0.1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    width: 100%;
    top: 2em;
}

.person-header {
    padding: 0 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.wishlist-tile-item {
    width: 5em;
    height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: white;
}

.wishlist-tile-item:hover {
    overflow: visible;
    white-space: inherit;
    text-overflow: initial;
    word-wrap: break-word;
    overflow-y: scroll;
}


.wishlist-tile-delete {
    width: 3em;
    background: transparent;
    border: none;
    color: #FFAD00;
    cursor: pointer;
}

.wishlist-title-header {
    margin-right: 1em;
}

.wishlist-tile-item-link-icon {
    color: #FFAD00;
}






